.BuildControl {
  display: flex;
  margin: 0.5rem;
  font-size: 1rem;

  &__Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
  }
  &__button {
    padding: 0.5rem 3rem;
    margin-left: 0.5rem;
    font-size: inherit;
    @extend .btn;
    @extend .text-white;

    &--more {
      @extend .btn-primary;
    }

    &--less {
      @extend .btn-secondary;
    }
  }
}
