.Contactdata{
    max-width: 80vw;
    margin: auto;
    box-shadow:2px 2px 3px rgba(0,0,0,0.8);
    padding:1rem;
    margin-top:1rem;
    border:1px solid rgba(0,0,0,0.2);

    .form-control{
        margin:0.5rem 0;
    }
}