.BuildControls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  justify-content: space-between;
  background-color: lighten($primary-color, 10%);

  &__orderNowButton{
    @extend .btn;
    @extend .btn-secondary;
    @extend .text-white;
    padding: 0.5rem 2rem;
  }
}

